/* =============
    Packages
============= */



#packages {
    background-color: var(--lily);

    h1{
        color: var(--nightblue);
    }

    #package-button-container{
        background-color: var(--white);

        button{
            border: none;
        }

        #left-arrow{
            background-color: var(--white);
            color: var(--grey);
        }

        #right-arrow{
            background-color: var(--aqua);
            color: var(--white);
        }
    }

    #package-card-container{
        .package-card{
            background-color: var(--ghost);
            border: 1px solid var(--white);

            p{
                color: var(--nightblue);
            }

            h3{
                color: var(--aqua);
            }

            h4{
                color: var(--grey);
            }
        }

        .selected-package-card{
            background-color: var(--white);
        }
    }

}