/* =============
    Process
============= */
@use "../helpers";

#process{

    background-color: var(--white);
    padding: 110px 24px 16px;

    #top-content{

        

        text-align: center;


        p{
            color: var(--grey);
            font-weight: 600;
            line-height: helpers.rem-calc(28);
            margin: 16px 24px 24px;

        }
    }


    #work-card-container{

        @include helpers.md{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-areas: "card-1 card-1 card-2 card-2"
                                 "...    card-3 card-3 ...";
            gap: 24px;

        }

        @include helpers.xl{
            max-width: 1200px;
            margin: 0 auto;
            grid-template-columns: repeat(3, 1fr);
            grid-template-areas: "card-1 card-2 card-3";
            gap: 45px;
        }


        .work-card{

           

            background-color: var(--white);
            border: 1px solid #F5F5F7;
            margin-bottom: 48px;
            padding: 16px;
            border-radius: 14px;


            p{
                color: var(--grey);
                font-weight: 600;
                font-size: helpers.rem-calc(16);
                line-height: helpers.rem-calc(28);
                margin-left: 30;
                margin-right: 30;
                margin-bottom: 30;
            }

            h3{
                color: var(--nightblue);
                font-weight: 600;
                font-size: helpers.rem-calc(24);
                line-height: helpers.rem-calc(34);
                margin: 50px 0px 10px;


            }

        }
        
        #card-1{
            @include helpers.md{
                grid-area: card-1;
                
            }
        }

        #card-2{
            @include helpers.md{
                grid-area: card-2;
            }
        }

        #card-3{
            @include helpers.md{
                grid-area: card-3;
            }

        }

            
        
    }
}